.env
examples
venv
token.txt
token_warning.json
kiemton_manual.py
result.csv
log.txt
*.err
*.log

.DS*
log
*.sqlite*
tmp
!__init__.py
db.cnf
test*
store
DS tiet kiem MB.xlsx
wallet*
tmp
qrcode
00*
__pycache__
.vscode
upload_data
bot/media/qrcodes/*
list*
paymentlog
paymenttt
bank
http_ca.crt
history
captcha.png
db
excel
db.json
sapo_work/
sapo_cron.log